body, html {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fade {
  transition: opacity 0.5s;
}

.fade.in {
  opacity: 1;
}

.fade.out {
  opacity: 0;
}

.login-container {
  text-align: center;
  margin-top: 20px;
}

.login-box {
  max-width: 400px;
  margin: auto;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 15px;
  background-color: #7289da;
}

.login-heading {
  margin-bottom: 20px;
  color: #343a40;
  font-size: 1.5em;
  transition: opacity 0.5s;
}

.login-heading.out {
  opacity: 0;
}

.login-heading.in {
  opacity: 1;
}

.login-form {
  display: flex;
  margin-bottom: 10px;
  width: 230px;
  height: 25px;
}

.login-form input {
  border-radius: 5px;
  margin-bottom: 15px;
}

.login-button {
  width: 100%;
  padding: 0.5em;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #0056b3;
}
