.bottom-box {
  display: flex;
  flex-direction: column;
  align-items: center; /* 모든 내용을 중앙에 배치 */
  justify-content: center; /* 버튼을 중앙에 배치 */
  padding: 10px;
  background-color: #2c2f33;
  width: 100%;
  box-sizing: border-box;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.bottom-button {
  padding: 10px 20px;
  font-size: 15px;
  cursor: pointer;
  background-color: #7289da;
  color: white;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.bottom-button:hover {
  background-color: #99aab5;
}

.chart-container {
  width: 100%;
  max-width: 600px;
  margin-top: 20px;
}

.bookmark-list {
  margin-top: 20px;
  width: 100%;
  color: white;
}

.bookmark-list h3 {
  margin: 10px 0;
}

.bookmark-list ul {
  list-style-type: none;
  padding: 0;
}

.bookmark-list li {
  margin: 5px 0;
}

.bookmark-list a {
  color: #7289da;
  text-decoration: none;
}

.bookmark-list a:hover {
  text-decoration: underline;
}

.loading-bar {
  width: 40px;
  height: 40px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #444;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-top: 20px; /* 로딩바와 다른 요소 사이의 간격 */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.keyword-links ul {
  padding-left: 20px;
  text-align: left;
}

.keyword-links li {
  list-style-type: disc;
  margin-left: 20px;
}
.bookmark-list ul {
  padding-left: 20px;
  text-align: left;
}

.bookmark-list li {
  list-style-type: disc;
  margin-left: 20px;
}
.keyword-links{
  margin-top: 10px;
}