/* 전체 폰트 스타일 적용 */
body, html {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-bar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2c2f33; /* 디스코드 어두운 배경 색상 */
  padding: 10px;
  border-radius: 10px;
}

.nav-bar-actions {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
  justify-content: flex-start;
}

.nav-button {
  background-color: #7289da; /* 디스코드 강조 색상 */
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.fas-button {
  background-color: #2c2f33; /* 디스코드 어두운 배경 */
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-right: 10px;
  margin-left: 15px;
}

.nav-button i {
  margin-right: 5px; /* 아이콘과 텍스트 간격 조정 */
}

.nav-button:hover {
  background-color: #555;
}

.nav-button:disabled {
  background-color: #666;
  cursor: not-allowed;
}

.loading-bar {
  width: 40px;
  height: 40px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #444;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-right: 10px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.result-div {
  color: white;
  margin-left: 10px;
}

.chat-box-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.url-input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #23272a; /* 디스코드 어두운 입력 배경 */
  color: white;
  transition: width 0.6s, opacity 0.6s; /* 애니메이션 시간을 0.6초로 조정 */
}

.url-input-hidden {
  width: 0;
  opacity: 0;
}

.url-input-visible {
  width: 190px; /* 원하는 넓이로 설정 */
  opacity: 1;
}

.clock-loader-container-narvar {
  margin-left: 80px;
  text-align: center;
}

.fade {
  transition: opacity 0.5s;
}

.fade.in {
  opacity: 1;
}

.fade.out {
  opacity: 0;
}

/* CSSTransition 애니메이션 클래스 */
.url-input-enter {
  width: 0;
  opacity: 0;
}

.url-input-enter-active {
  width: 190px;
  opacity: 1;
  transition: width 0.6s, opacity 0.6s;
}

.url-input-exit {
  width: 190px;
  opacity: 1;
}

.url-input-exit-active {
  width: 0;
  opacity: 0;
  transition: width 0.6s, opacity 0.6s;
}
