name: Throw-wa Python CI & CD

on:
  push:
    branches: ["main"]

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Docker Login
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Docker build & push to Docker Hub
        run: |
          cd backend/
          docker build -t ${{ secrets.DOCKER_REPO_FASTAPI }}:latest .
          docker tag ${{ secrets.DOCKER_REPO_FASTAPI }}:latest ${{ secrets.DOCKER_USERNAME }}/${{ secrets.DOCKER_REPO_FASTAPI }}:latest
          docker push ${{ secrets.DOCKER_USERNAME }}/${{ secrets.DOCKER_REPO_FASTAPI }}:latest

      - name: SSH and deploy
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_PEMKEY }}
          script: |
            cd /home/ubuntu/
            sudo docker-compose down
            sudo docker system prune -a -f
            sudo docker-compose pull
            sudo docker-compose up -d
